.logo{
    display: flex;
    border: 5px solid red;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    margin-right: 1100px;
    
    
}

.titulo{
    display: flex;
   margin-right: 1500px;
    border: 5px solid blue;
    background-color: #fff;
    border-radius: 20px;
    text-align: left;
}

.organizado{
 text-align: center;
    margin-top: auto;
}

.titulo2{
    margin-right: 500px;
    margin-top: auto;
}

.titulo3{
    margin-right: 400px;
    margin-top: auto;
}